html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $roboto;
  color: $black-text;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;

  background-color:#efefef;


  &.no-scroll {
    overflow: hidden;
  }

  &.show-sidebar {
    overflow: hidden;
  }

}

footer {
  margin-top: auto;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;

  @include laptop {
    max-width: 960px;
  }
  @include tablet {
    max-width: 720px;
  }
  @include mobile-large {
    max-width: 540px;
  }
  @include mobile {
    max-width: 100%;
    padding: 0 10px;
  }
}

.hidden-title {
  visibility: hidden;
  height: 0;
}

.page-mask {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-left: auto;
  height: 100%;
  background-color: rgba(0,0,0, 0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .2s linear;


  .show-sidebar & {
    background-color: rgba(0,0,0,.8);
    z-index: 3;
  }
}