.accordion {
  $root: &;

  &__item {
    border: 1px solid #e5e5e5;

    & + & {
      margin-top: 1rem;
    }

    &.active {
      height: 24.2rem;

      #{$root} {
        &__body {
          display: block;
          height: 17.8rem;

          @include mobile {
            height: 16.8rem;
          }
        }

        &__head {
          border-bottom: 1px solid #e5e5e5;

          &::after {
            transform: translateY(-50%) rotate(135deg);
          }
        }
      }
    }
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    color: $black-text;
    font-family: $montserrat;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 1.4rem;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      top: 52%;
      right: 2rem;
      transform: translateY(-50%) rotate(-45deg);
      border-top: 3px solid #e5e5e5;
      border-right: 3px solid #e5e5e5;
      background-color: transparent;
    }

    &--photography::before {
      background-image: url(../images/wedo/photography.svg);
    }

    &--creativity::before {
      background-image: url(../images/wedo/creativity.svg);
    }

    &--webdesign::before {
      background-image: url(../images/wedo/webdesign.svg);
    }

    @include mobile {
      padding: 1rem;
    }
  }

  &__head-span {
    @extend .text-overflow;
  }

  &__body {
    padding: 2rem 2.5rem 2rem 2rem;
    display: none;
    height: 0;
    color: $gray-text;
    font-family: $roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    transition: all .2s linear;

    @include mobile {
      padding: 1rem 1.5rem 1rem 1rem;
    }
  }

  &__body-inner {
    overflow-y: scroll;
    height: 100%;
    padding-right: 2.5rem;
    scrollbar-color: $aqua #f5f5f5;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $aqua;
      border-radius: 4px;
    }

    @include mobile {
      padding-right: 1rem;
    }
  }
}