.carousel {
  $root: &;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  
  &--photo {
    #{$root} {
      &__item-image {
        flex-shrink: 0;
        width: 21rem;
        height: 21rem;
        border: none;
        margin-right: 3rem;
        background: none;
        border-radius: 50%;
        overflow: hidden;

        img {
          @extend .img-cover;
        }

        @include tablet {
          margin: 0 auto 3rem auto;
        }

        @include mobile {
          width: 12rem;
          height: 12rem;
          margin-bottom: 2rem;
        }
      }

      &__item {
        display: flex;
        align-items: center;
        padding: 10rem 4.5rem;

        @include tablet {
          padding: 4rem 5rem;
        }

        @include mobile-large {
          padding: 3rem 4rem;
        }

        @include mobile {
          padding: 2rem;
        }
      }
    }
  }

  &__wrapper {
    background-color: #f8f8f8;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    span {
      color: $gray-text;
      font-size: 4.2rem !important;
      transition: color .2s linear;

      &:hover {
       color: $black-text;
      }
    }
  }

  .owl-prev {
    left: 0.4rem;
  }

  .owl-next {
    right: 0.4rem;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem;
    overflow: hidden;

    @include tablet {
      flex-direction: column;
      text-align: center;
      padding: 4rem 5rem;
    }

    @include mobile-large {
      padding: 3rem 4rem;
    }

    @include mobile {
      padding: 2rem;
    }
  }

  &__item-image {
    flex-shrink: 0;
    width: 15rem;
    height: 15rem;
    border: 3px solid $aqua;
    margin-right: 6rem;
    background: url("../images/carousel-icon.svg") no-repeat center / 63px 61px;

    @include tablet {
      margin: 0 auto 3rem auto;
    }

    @include mobile {
      width: 12rem;
      height: 12rem;
      margin-bottom: 2rem;
    }
  }

  &__item-info {
    font-size: 2.4rem;
    line-height: normal;

    @include mobile {
      font-size: 2rem;
    }
  }

  &__item-text {
    color: $gray-text;
    font-family: $roboto;
    font-style: italic;
  }

  &__item-author {
    margin-top: 1.5rem;
    color: $black-text;
    font-family: $kaushan;

    &::before {
      content: "";
      display: inline-block;
      width: 6rem;
      height: .3rem;
      background-color: $red;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}
