.carousel {
  position: relative;
  width: 100%;
  height: 29rem;
  margin: 0 auto;

  @include tablet {
    height: 43rem;
  }

  @include mobile {
    height: 40rem;
  }

  &__wrapper {
    background-color: #f8f8f8;
  }

  &__content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left .4s cubic-bezier(.47,.13,.15,.89);
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #ccc;
    transition: border-color .2s linear;

    &:hover {
      border-color: $black-text;
    }

    &--left {
      left: 0.4rem;
      transform: rotate(45deg);

    }

    &--right {
      right: 0.4rem;
      transform: rotate(-135deg);
    }
  }

  &__item {
    display: flex;
    padding: 7rem 8rem;
    overflow: hidden;

    @include tablet {
      flex-direction: column;
      text-align: center;
      padding: 4rem 5rem;
    }

    @include mobile-large {
      padding: 3rem 4rem;
    }

    @include mobile {
      padding: 2rem;
    }
  }

  &__item-image {
    flex-shrink: 0;
    width: 15rem;
    height: 15rem;
    border: 3px solid $aqua;
    margin-right: 6rem;
    background: url("../images/carousel-icon.svg") no-repeat center / 63px 61px;

    @include tablet {
      margin: 0 auto 3rem auto;
    }

    @include mobile {
      width: 12rem;
      height: 12rem;
      margin-bottom: 2rem;
    }
  }

  &__item-info {
    font-size: 2.4rem;
    line-height: normal;

    @include mobile {
      font-size: 2rem;
    }
  }

  &__item-text {
    color: $gray-text;
    font-family: $roboto;
    font-style: italic;
  }

  &__item-author {
    margin-top: 1.5rem;
    color: $black-text;
    font-family: $kaushan;

    &::before {
      content: "";
      display: inline-block;
      width: 6rem;
      height: .3rem;
      background-color: $red;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}