.section {
  padding: 9rem 0 11rem 0;

  @include tablet {
    padding: 6rem 0 8rem 0;
  }

  @include mobile-large {
    padding: 4rem 0 6rem 0;
  }

  &--pb0 {
    padding-bottom: 0;
  }
  
  &__header {
    max-width: 80%;
    text-align: center;
    margin: 0 auto 10rem auto;

    @include tablet {
      margin-bottom: 6rem;
    }

    @include mobile-large {
      margin-bottom: 4rem;
    }

    @include mobile {
      max-width: 90%;
    }
  }

  &__title {
    color: $black-text;
    font-family: $montserrat;
    font-size: 3rem;
    font-weight: 700;   
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 3.5rem;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: $red;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include tablet {
      padding-bottom: 3rem;
    }

    @include mobile-large {
      padding-bottom: 2rem;
    }

    @include mobile {
      padding-bottom: 1.5rem;
      margin-top: 0.6rem;
      font-size: 2.6rem;
    }
  }

  &__subtitle {
    font-family: $kaushan;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 2.2rem;
    }
  }

  &__description {
    color: $gray-text;
    margin-top: 4rem;

    @include tablet {
      margin-top: 3rem;
    }

    @include mobile-large {
      margin-top: 2.5rem;
    }
  }
}