.sidebar {
  width: 300px;
  height: calc(100vh - 7.3rem);
  padding: 2rem;

  position: fixed;
  right: 0;
  top: 7.3rem;
  z-index: 4;

  background-color: $aqua;
  transform: translateX(101%);
  transition: transform .3s linear;

  .show-sidebar & {
    transform: translateX(0);
  }

  @include mobile {
    height: calc(100vh - 5.7rem);
    top: 5.7rem;
  }
}