.sidebar {
  width: 300px;
  height: calc(100vh - 8rem);
  padding: 2rem;

  position: fixed;
  right: 0;
  top: 8rem;
  z-index: 4;

  background-color: $aqua;
  transform: translateX(101%);
  transition: transform .3s linear;

  .show-sidebar & {
    transform: translateX(0);
  }
}