.about {
  $root: &;

  &__content {
    display: flex;
  }

  @include tablet {
    .col-md-6:not(:nth-child(-n + 2)) {
      margin: 3rem auto 0 auto;
    }
  }

  @include mobile {
    .col-xs-12:not(:nth-child(-n + 1)) {
      margin: 3rem auto 0 auto;
    }
  }
}