<div class="container header__container">
    <div class="header__top">
        <a href="#" class="header__logo">MoGo</a>
        <!--/header__logo-->
        <div class="header__right">
            <nav class="nav" id="headerNav">
                <ul class="nav__list">
                    <li class="nav__item-wrapper">
                        <a class="nav__item active" href="#about">About</a>
                    </li>
                    <li class="nav__item-wrapper">
                        <a class="nav__item" href="#service">service</a>
                    </li>
                    <li class="nav__item-wrapper">
                        <a class="nav__item" href="#work">work</a>
                    </li>
                    <li class="nav__item-wrapper">
                        <a class="nav__item" href="#blog">blog</a>
                    </li>
                    <li class="nav__item-wrapper">
                        <a class="nav__item" href="#contact">contact</a>
                    </li>
                </ul>
            </nav>
            <!--/nav-->
            <div class="header__actions">
                <a href="#" class="header__action-item">
                    <img class="header__actions-img" src="assets/images/cart.svg" alt="cart">
                </a>
                <a href="#" class="header__action-item">
                    <img class="header__actions-img" src="assets/images/search.svg" alt="search">
                </a>
            </div>
            <!--/header__actions-->
            <button class="burger" type="button" id="burger">
                <span>Открыть навигацию</span>
            </button>
        </div>
        <!--/header__right-->
    </div>
    <!--/header__top-->
    <div class="header__middle">
        <h1 class="header__title">Welcome
            to MoGo</h1>
        <h2 class="header__subtitle">Creative Template</h2>
        <div class="header__btn">
            <a id="learnMore" class="btn btn--default btn--transparent" href="#about">Learn more</a>
        </div>
    </div>
    <!--/header__middle-->
    <div class="header__bottom" id="headerBottom">
        <div class="row">
            <div class="col-3 col-sm-6">
                <div class="header__item active">
                    <div class="header__item-line"></div>
                    <div class="header__item-info">
                        <span class="header__item-number">01</span>
                        <span class="header__item-title">intro</span>
                    </div>
                </div>
            </div>
            <!--/col-3-->
            <div class="col-3 col-sm-6">
                <div class="header__item">
                    <div class="header__item-line"></div>
                    <div class="header__item-info">
                        <span class="header__item-number">02</span>
                        <span class="header__item-title">work</span>
                    </div>
                </div>
            </div>
            <!--/col-3-->
            <div class="col-3 col-sm-6">
                <div class="header__item">
                    <div class="header__item-line"></div>
                    <div class="header__item-info">
                        <span class="header__item-number">03</span>
                        <span class="header__item-title">about</span>
                    </div>
                </div>
            </div>
            <!--/col-3-->
            <div class="col-3 col-sm-6">
                <div class="header__item">
                    <div class="header__item-line"></div>
                    <div class="header__item-info">
                        <span class="header__item-number">04</span>
                        <span class="header__item-title">contacts</span>
                    </div>
                </div>
            </div>
            <!--/col-3-->
        </div>
    </div>
</div>