<aside class="sidebar" id="sidebar">
    <nav class="nav nav--sidebar" id="headerNavSidebar">
        <ul class="nav__list">
            <li class="nav__item-wrapper">
                <a class="nav__item active" href="#about">About</a>
            </li>
            <li class="nav__item-wrapper">
                <a class="nav__item" href="#service">service</a>
            </li>
            <li class="nav__item-wrapper">
                <a class="nav__item" href="#work">work</a>
            </li>
            <li class="nav__item-wrapper">
                <a class="nav__item" href="#blog">blog</a>
            </li>
            <li class="nav__item-wrapper">
                <a class="nav__item" href="#contact">contact</a>
            </li>
        </ul>
    </nav>
    <!--/nav-->
</aside>