<!DOCTYPE html>
<html lang="zxx">
<head>
    {{> head }}
</head>
<body>
        <!-- Header -->
        <header class="header" id="header"  style="background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(assets/images/banner.jpg)">
        {{> header }}

        {{> sidebar }}

        </header>

        <!-- Main -->
        <main class="main">
            {{> body }}
        </main>

        <!-- Footer -->
        {{> footer }}

        <div class="page-mask" id="pageMask"></div>

    <script src="assets/plugins/jquery.js"></script>
    <script src="assets/plugins/owl.carousel.min.js"></script>
    <script src="assets/plugins/init.js"></script>

    <script src="assets/js/app.js"></script>
</body>
</html>
